<!doctype html>
<html>
  <head>
    <title>{{ title }} | unsentletters</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- site specific css -->
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="container-fluid">
    {% if title %}
      <div class="row">
        <div class="col-md-6 col-md-offset-3"><h2 class="text-center">{{ title }}</h2></div>
      </div>
    {% endif %}
      <div class="row">
        <p class="col-md-6 col-md-offset-3 text-justify">{{ text }}</p>
      </div>
  </body>
</html>
