<!doctype html>
<html>
  <head>
    <title>{{ post.title }} | unsentletters</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- Optional theme
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css"> -->
    <!-- site specific css -->
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="container-fluid">
    {% if post.title %}
      <div class="row header">
        <div class="col-md-6 col-md-offset-3 title">
          {% if sentiment.polarity>0.5 %}
          <div class="sentiment-neg">
          {% elif sentiment.polarity>0 %}
          <div class="sentiment-neutral">
          {% else %}
          <div class="sentiment-pos">
          {% endif %}
            <h2 class="text-center">
              {{ post.title }}
            </h2>
          </div>
        </div>
      </div>
    {% endif %}
      <div class="row">

        <p class="col-md-6 col-md-offset-3 text-justify content">
          {% for line in post.selftext.splitlines() %}
              {{line}}<br>
          {% endfor %}
              {{ time }}
        </p>
      </div>
      <div class="row">
        <div class="col-md-3 text-center actions">
          <a href="{{post.permalink}}" class="btn btn-default">source</a>
          <a href="/" class="btn btn-default">next</a>
          <a href="https://github.com/icechen1/unsentletters" class="btn btn-default">about</a>
        </div>
      </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
